* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
}

#me, #incoming, #outgoing, textarea, #users {
    width: 652px;
}

#me {
    margin: 4em auto .5em;
}

#incoming {
    margin: 0 auto .5em;
    padding: 8px;
    font-size: 13px;
    border-radius: 4px;
    background-color: #fff;
    height: 220px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.from, .message {
    display: inline-block;
    vertical-align: top;
}

.from {
    width: 18%;
    color: #555;
    overflow: hidden;
}

.message {
    width: 82%;
    color: blue;
    padding-left: 5px;
}

#outgoing {
    margin: 0 auto .5em;
}

textarea {
    resize: vertical;
    display: block;
    padding: 8px;
    font-size: 13px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom: .5em;
}

.buttonLabels div {
    display: inline-block;
    vertical-align: top;
    width: 324px;
    font-size: 12px;
    text-align: center;
}

.buttonLabels div:not(:last-child) {
    margin-right: 4px;
}

button {
    width: 160px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 8px;
    font-size: 12px;
    text-align: center;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

button:not(:last-child) {
    margin-right: 4px;
}

button:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

#users {
    margin: 0 auto .5em;
    font-size: 13px;
}

.title {
    margin-bottom: 4px;
}

.user {
    margin-bottom: 2px;
}

::-webkit-input-placeholder {
    color: lightgray;
}
::-moz-placeholder {
    color: lightgray;
}
:-ms-input-placeholder {
    color: lightgray;
}
:-moz-placeholder {
    color: lightgray;
}